*{
    margin: 0;
    padding: 0;
}

.Navbar{
    margin-top: 20px;
    margin-bottom: 20px;
  
}

img{
   height: 80px;
   border: white;
   border-radius: 50%;
   background-color: white;
}
.title{
    color: white;
}